<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
          <!-- <ion-button clear color="dark" (click)="dismiss()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button> -->
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title >ATuPuerta</ion-title>
      <ion-buttons slot="end">
        <ion-icon  class="btnCartTop" style="color: white;" (click)="onClickCardTop()"  name="cart-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h3>Términos y Condiciones <br/> de Uso</h3>
<p>
    El objetivo de ATuPuerta es servir de nexo entre interesados en vender productos
     y los usuarios finales. Es una herramienta para que los  usuarios vendedores de todo territorio, 
     publiquen sus productos y los usuarios finales accedan a estos, analizando y diferenciando 
     el mejor precio, condición y ubicación.
    </p>
    <br/>
    <ul>
        <li>
         Toda persona que utilice esta aplicación de ATuPuerta que no acepte estos términos
            y condiciones generales y/o cualquiera de las demás políticas que rigen en ATuPuerta,
            los cuales tienen carácter  obligatorio y vinculante, deberá abstenerse de utilizar
            los servicios.
        </li>
        <br/>
        <li>
         Para registrarse como usuario de ATuPuerta es obligatorio completar el formulario
              de registración en todos sus campos con datos válidos. El futuro Usuario deberá
              completarlo con su información personal de manera exacta, precisa y verdadera,
              asume el compromiso de actualizar los Datos Personales conforme resulte necesario.
              ATuPuerta NO se responsabiliza por la certeza de los Datos Personales de los Usuarios.
              Los Usuarios garantizan y responden, en cualquier caso, de la veracidad,
              exactitud, vigencia y autenticidad de sus Datos Personales. El usuario asume plena
              responsabilidad ante ATuPuerta y terceros de los posibles daños que ocasionen,
              los de sus dependientes o cualquier otro tercero que utilice la cuenta del usuario.
              ATuPuerta se reserva el derecho de rechazar cualquier solicitud de registración o
              de cancelar una registración previamente aceptada, sin que esté obligado a comunicar
              o exponer las razones de su decisión y sin que ello genere algún derecho
              a indemnización o resarcimiento.
        </li>
        <br/>
        <li>
           El usuario debe utilizar correctamente los contenidos que brinda la app de
              conformidad con la ley, el orden público y las buenas costumbres. Está expresamente
              prohibido utilizar los contenidos de las páginas para actividades ilícitas, contrarias
              a la moral o constitutivas de delito que atenten contra los derechos de terceros y/o
              que infrinjan la regulación sobre propiedad intelectual e industrial, o cualesquiera
              otras normas del ordenamiento jurídico. El usuario es responsable por el buen uso
              de la app, comprometiéndose expresamente a evitar cualquier tipo de acción que pueda
              dañar sistemas, equipos o servicios directa o indirectamente a través de Internet,
              incluyendo la congestión intencional de enlaces o sistemas y de acuerdo a
              las presentes condiciones.
        </li>
        <br/>
        <li>
         ATuPuerta se reserva el derecho de modificar, alterar o actualizar estos Términos y
            Condiciones de Uso en cualquier momento. Las modificaciones entrarán en vigencia en
            el momento y su aplicación es inmediata. La utilización posterior del sitio por el
            usuario significa que acepta las modificaciones efectuadas, sin derecho a efectuar
            ningún reclamo.
        </li>
        <br/>
        <li>
         ATuPuerta sólo pone a disposición de los Usuarios un espacio virtual que les permite
            ponerse en comunicación mediante Internet para encontrar una forma de publicación
            para vender productos. ATuPuerta no es el propietario de lo publicitado
            por los usuarios, no tiene posesión de ellos ni los ofrece en venta, no
            interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios
            ni en las condiciones por ellos estipuladas para las mismas, por ello no será
            responsable respecto de la existencia, calidad, cantidad, estado, integridad o
            legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios,
            así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos
            Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo
            responsable por los productos que publica para su venta y por las ofertas y/o compras que realizan.
        </li>
        <br/>
        <li>
         Debido a que ATuPuerta no tiene ninguna participación durante todo el tiempo en
            que el producto se publica para la venta, ni en la posterior negociación y
            perfeccionamiento del contrato definitivo entre las partes, no será responsable
            por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en
            el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar
            operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún
            caso ATuPuerta será responsable por lucro cesante, o por cualquier otro daño y/o
            perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas
            o no realizadas por productos publicados a través de ATuPuerta.
        </li>
        <br/>
        <li>
           La información que contiene ATuPuerta es proporcionada por usuarios interesados en vender,
            por lo que ATuPuerta no se hace responsable de la veracidad o exactitud de dicha información, 
            ni de las modificaciones
            realizadas. Tampoco se hace responsable de cualquier información que el usuario y
            la parte vendedora intercambien por sus medios o por cualquier diferencia que
            surja entre ellos.
        </li>
        <br/>
        <li>
          Se deja aclarado expresamente que APP no revisa el contenido de las publicaciones,
            proveyendo única y exclusivamente un espacio para su publicación. En tal sentido,
            los usuarios vendedores sean automotoras o particulares adheridos mantendrán indemne a
            ATuPuerta.
        </li>
        <br/>
        <li>
          ATuPuerta no se hace responsable por cualquier daño ocasionado a un usuario por
            parte de un tercero o por razones de fuerza mayor o caso fortuito.
        </li>
        <br/>
        <li>
           ATuPuerta es propietario de todo el
            contenido allí publicado (imágenes, logos, marcas, textos, etc.),
            protegido por las leyes referentes al derecho de autor. Ningún tercero podrá utilizar el
            contenido con fines comerciales ni con fines de lucro, así como tampoco
            copiar la información de ATuPuerta para la utilización en otra página
            web o medio impreso con semejante o diferente finalidad, salvo que exista
            consentimiento expreso y por escrito de los representantes de ATuPuerta.
        </li>
        <br/>
        <li>
           El usuario autoriza a ATuPuerta a publicar sus imágenes, fotos, en las
            distintas redes sociales y medios de publicidad elegidos y manejados
            por ATuPuerta.
        </li>
        <br/>
        <li>
           Toda comunicación que deba efectuarse bajo estos Términos y Condiciones
            de Uso deberá realizarse por escrito. La comunicación con el usuario
            debe efectuarse a través de la cuenta de correo electrónico ingresada
            o por carta documento dirigida al domicilio que aparece en su ficha.
            Las notificaciones destinadas a ATuPuerta deben dirigirse a la cuenta
            de correo electrónico admin@atupuerta.com
        </li>
    </ul>
    <br/>
    Vigencia: 03 de mayo del 2020<br/>
</ion-content>
