ion-content{
    --padding-end: 20px;
    --padding-start: 20px;
} 

ion-title {
    padding-right: 52px;
}

.terms{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.termsDiv a{
    text-decoration: underline;
}